.content{
    margin: 0;
    margin-left: 2;;
    padding-left:  100px;
}
.hotel-description {
    font-size: 14px;
    max-width: 600px; /* optional, limit text width */
    margin-top: 8px; /* optional spacing */
}
