.content{
    margin: 0;
    margin-left: 2;;
    padding-left:  100px;
}
.hotel-description {
    font-size: 14px;
    max-width: 600px; 
    margin-top: 8px; 
}
.restaurant-description {
    font-size: 14px;
    max-width: 600px; 
    margin-top: 8px; 
}
.activity-description {
    font-size: 14px;
    max-width: 600px; 
    margin-top: 8px; 
}
